html,
body {
  margin: 0px;
  padding: 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('./images/site_background.jpg');
  font-family: 'Hind', sans-serif;
}

h2 {
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: rgba(1, 23, 32, 0.76);
  text-shadow: 1px 1px rgb(86, 204, 32);
  background-color: rgba(62, 206, 43, 0.144);
}

h3 {
  color: rgba(1, 23, 32, 0.76);
  text-shadow: 1px 1px rgb(253, 255, 114);
  font-family: 'Hind', sans-serif;
}

h4 {
  color: rgba(1, 23, 32, 0.76);
  font-family: 'Hind', sans-serif;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  font-family: 'Hind', sans-serif;
  font-size: 14px;
}

.nav-link {
  padding-left: 42px;
  padding-right: 42px;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
  color: rgba(3, 46, 0, 0.795);
  text-shadow: 1px 1px #dbdbdb;
}

#nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
}

.nav {
  font-size: 1.5em;
  padding: 0.5em;
}

hr {
  border-width: 1px 0 0 0;
}

.icon-logo {
  width: 60px;
  height: 37px;
  margin: 20px;
}

.icon {
  width: 35px;
  height: 35px;
  margin: 20px;
}

a,
code {
  color: rgb(32, 75, 32);
  text-decoration: none;
}

a:hover {
  color: rgb(68, 155, 68);
}

#getting-started,
#mock-api,
#features,
/* #title, */
#team {
  scroll-margin-top: 100px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}

#header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 115px;
  height: 180px;
  padding: 35px 50px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

#description {
  text-shadow: 1px 1px #dbdbdb;
  font-weight: lighter;
}

#header-container img {
  /* width: 23%; */
  height: auto;
  padding-bottom: 0px;
}

.container {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.container > * {
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
  justify-items: center;
  align-items: center;
  padding: 42px 0;
}

.demo {
  max-width: 100%;
}

.rpc-features {
  display: flex;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* align-items: center; */
}

.streaming {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  /* display: block; */
}

.RPC-type-img {
  width: 90%;
  text-align: center;
  /* height: 25%; */
}

.team {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

#team > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.name {
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px #dbdbdb;
}

.team-li img {
  display: block;
  margin: 0 auto;
}

.footer {
  padding: 30px 50px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 80%;

  font-family: 'Hind', sans-serif;
  font-size: 8;
  border-radius: 5px;
}

.fade-in {
  animation: fadeIn ease 10s;

  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
